*{
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
.first{
    background-color: rgb(241, 241, 241);
    display: flex;
    justify-content: space-around;
    color: black;
    padding: 10px;
   
}
.first div{
    display: flex;
    justify-content: flex-end;
    margin-left: 5px;
    padding-left: 70%;
    display: inline-flex;
}
.s1{
    padding: 5px;
}
.sec{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    margin-top: 30px;
}
@media screen and (max-width:800px) {
    .s2{
        font-size: 20px;
         position: absolute;
         margin-inline-start:0px ;
         padding: 0px;
         max-width: fit-content;  
    }
    #srh{
        display: none;
    }
    .s4{
        height: 50px;
        font-size: medium;
    }
    .btn{
        margin-top: 70px; 
    }
    .img{
        height: fit-content;
        width: fit-content;
    }
    
}
.s2{
    padding-left:0px;
}
.search{
    color: black;
}
.sec a{
    text-decoration: none;
}
li { 
    text-align: center;
    font-family:' memphisRiver',sans-serif;
    font-variant: small-caps;
    font-weight: 900;
    font: bold;
    padding: 10px;
    display: inline;
    margin: 10px;
    color: #d187d0;
}
li:hover{
   
    transform: scale(0.5);
    color: rgb(255, 179, 14);
    box-shadow: 10px 8px 10px greenyellow;
} 
@media screen and (max-width:800px){
    li{
        font-size: 10px;
        padding: 2px;
        margin:5px ;  
    }
    .j{
        flex-grow: 1;
        flex-wrap: wrap;
        
    }
    .contacts h1{
        font-size: 60px;
        position: absolute;
        margin-top:60px ;
        left: 35%;
    }
    .contacts img{
        height: 300px;
        width: min-content;
    }
    .contacts #insta  {
        padding-left: 20px; 
        font-size: 3em;
        position: absolute;
        left: 57%;
    }
    .contacts #link  {
        padding-left: 35px; 
        position: absolute;
        left: 44%;
    }  
    .contacts #git {
        padding-left: 5px; 
        position: absolute;
        left: 40%;
    }
      .c p{
        font-size: 40px;
        margin-top: 30px;
    }
    .go1 img {
        height: 450px;
    }
    .go1 p {
      
        font-size: 60px;
    
    }
    .go1 h3{
        font-size: 18px;
        position: absolute;
        top: 260px;
        left: 30px;
    }
    .go1 button{
        font-size: 0.7em;
        top: 300px;
    }
    .div1 #d0{
    flex-wrap: wrap;
    width: 100%;
    margin: 20px;
    height: 500px;
    }
    .div1 .div3 h1{
        position: absolute;
        padding-left: 0px;
        padding-right: 23px;


      
    }
    .back img{
        
        height: 400px;
    }
    .we1 #p1{
        font-size: 40px;
        position: absolute;
        margin-top: 40px;

    }
    .we1 #p2{
        position: absolute;
        left: 65%;
    }
    .t1 #m2{
        position: absolute;
        top: 50px;
        left: 190px;
        height: 300px;
        width: 250px;
    }
    .t1 #m1{
        font-size: 30px;
    }
   .t2 #n1{ 
        position: absolute;
        height: 300px;
        top: 50px;
        width: 250px;
        left:-30px;
       
   }
   .t2 #n2{
    margin-top: 20px;
    font-size: 30px;
    left: 50%;
   }
   .t2 #n3{
     right: 80px;
   }
   .clr .t1{
    height: 350px;
   }
   .clr .t2{
    height: 350px;
   }
   .clr{
    flex-wrap: wrap;
    width: 850px;
}
   


    }
    .we1 button
    { 
      
        font-size:10px;
        padding: 7px 20px;
        position: absolute;
        top: 390px;
        left: 70%;   
    }
    .we1 p{
        font-size: 90px;
        position: absolute;
        top: 250px;
        left: 62%;
        font-family: cursive;
        color: white;

    }
      .em1 button
      {
        font-size: 0.7em;
        position: absolute;
        top: 1690px;
       margin-left: 0px;
       left: 35.8%;
     }
    
    .t1 .a1{
        position: absolute;
        top: 30px;
        left: 260px;
        height: 350px;
        width: 350px;
    }
    .t1 .d1{
        font-size: 40px;
    }
   .t2 .img3{ 
        position: absolute;
        top: 70px;
        height: 310px;
        width: 400px;
      
       
   }
   .t2 .d2{
    
    font-size: 40px;
  
   }
   .t2 .btn2{
     right: 110px;
   }


.back p{
    position: absolute;
    font-size: 100px;
    left: 60%;
    top: 170px;
    color: white;
    font-family: cursive;

}
.div1 .div4{
    display: inline;
    flex-wrap: wrap;
    
}
.div1{
 
    flex-wrap: wrap;
    position: relative;
    justify-content: space-around;
    padding: 60px;
}

    


i{
    padding-right: 30px
}
.img{
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
    height:700px;
    opacity: 6;
}
@font-face{
    font-family: 'Roblox';
    font-size: 6em;
    src: url(fonts/Roblox.ttf) format("truetype");

}
.s4{
    font-family: 'memphisRiver',sans-serif;
    position: absolute;
    top: 60%;
    font-size: 50px;
    margin: 0;
    left: 45%;
    font-weight: 900;
    font-variant: small-caps;
    animation: clr 2s infinite;
}
@keyframes clr{
    0%{ color: black;}
    50%{ color: rgb(122, 116, 4);}
    100%{ color: black;}
}
.btn{
    position: absolute;
    top: 80%;
    left: 45%;
    padding: 12px;
    font-variant: small-caps;
    color:white;
    background-color:green;
    border:  0px solid green;
    border-radius:  4px;
    font-size: 16px;
    font-weight: 900;
}
.btn:hover{
    transform: scale(1.2);
    background-color:black;
    box-shadow: 0px 0px 50px black,0px 0px 50px black,0px 0px 50px black;
}
.t1{
     height: 380px;
     width: 50%;
     margin: 30px;
     background-color: rgb(169, 194, 186);
     position: relative;

}
.t2{
    height: 380px;
    width: 50%;
    margin: 30px;
    background-color: #a5c8a5 ;
    position: relative;
}
.clr{
    display: flex;  
    position: relative; 
}
.a1{
    position: absolute;
    top: 6px;
    left: 250px;
}
.d1{
    position: absolute;
    top: 80px;
    left: 53px;
    font-variant: small-caps;
    color: white;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.btn1{
    position: absolute;
    padding: 20px;
    margin-top:  240px;
    left: 12%;
    font-variant: small-caps;
    color:white;
    background-color:green;
    border-radius:  8px;
    border: 0px solid green;
    font-size: 10px;
    font-weight: 900;
}
.btn1:hover:hover{
    background-color: yellowgreen;
    box-shadow: 0px 0px 50px rgb(4, 7, 0),0px 0px 50px rgb(2, 3, 0),0px 0px 50px rgb(2, 3, 0)
}
.img3{
    position: absolute;
    top: 50px;
    height: 300px;
    width: 67.5%;
    right: 230px;
}
.d2{
    position:absolute;
    top: 80px;
    font-variant: small-caps;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    right: 30px;
}
.btn2{
    position: absolute;
    padding: 20px;
    top: 240px;
    right: 130px;
    font-variant: small-caps;
    color:white;
    background-color:green;
    border-radius:  8px;
    border: 0px solid green;
    font-size: 10px;
    font-weight: 900;
}
.btn2:hover{
    background-color: yellowgreen;
    box-shadow: 0px 0px 50px #000000,0px 0px 50px #0a0801,0px 0px 50px hsl(60, 100%, 0%)
}
#img3{
    width:100%;
    justify-content: center;
    
}
.h1{
    position: relative;
    justify-content: center;
    text-align: center;
    padding: 20px;
}
#h3 {
    font-variant: small-caps;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    padding: 10px;
    color:green;

}
#h2{
    font-variant: small-caps;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    padding: 10px;
    color: black;
}
.j1{
    height: 200px;
    width: 200px;
    padding: 30px;
    position: relative;
    flex-wrap: wrap;
    display: flex;
    border-radius: 1px ;
    border: 0.4px solid white;
    background-color:white;
   
}
.j{
    display: flex;
    justify-content: space-around;
   position: relative;
}
.j1:hover{
    transform: scale(1.05);
   
}
.q2{
    font-variant: small-caps;
    font-family: cursive;
}
.q3{
    font-variant: small-caps;
    font-size: 15px;
    padding: 9px;
    margin-top: 10px;
    border-radius: 4px;
    border: 0 solid yellow;
    background-color: rgb(219, 219, 109);
    
}
.q3:hover{
    background-color: rgb(178, 151, 16);
    color: white;
    box-shadow: 0px 0px 12px rgb(135, 110, 110),0px 0px 12px rgb(135, 110, 110) ,0px 0px 12px  rgb(135, 110, 110);

}

.div1{
    display: flex;

    position: relative;
    justify-content: space-around;
    padding: 60px;
}
.div2{
    position: relative;
    height: 500px;
    width: 32%;
    background-color: rgb(114, 189, 114);
}
.div3{
    position: relative;
    height: 500px;
    width: 32%;
    background-color: rgb(229, 209, 78);
}
.div4{
    position: relative;
    height: 500px;
    width: 32%;
    background-color: rgb(188, 193, 180);
}


.back{
    position: relative;
}
.back1{
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  width: 100%;
  margin-top: 160px;

}
 .back .btn4{
    position: absolute;
    top: 70%;
    left: 68%;
    padding: 7px  10px;
    border: 0px;
    border-radius: 4px;
    background-color: green;
    color: white;
    font-variant: small-caps;
    font-size: 23px;
}
.btn4:hover{
    background-color: yellowgreen;
    color: black;
    box-shadow: 0px 0px 50px rgb(231, 211, 211),0px 0px 50px rgb(228, 223, 223),0px 0px 50px rgb(254, 252, 252);
}
.z1{
    text-align: center;
    justify-content: center;
}

.st1{position: absolute;
    top: 400px;
    left: 33.3%;
    padding: 15px;
    border: 0px;
    font-weight: 600;
    border-radius: 4px;
    background-color:#2c880d;
    color:white;
    font-size: 15px;
}
.st1:hover{
    background-color: whitesmoke;
    color: black;
    transform: scale(1.2);

}
.st{position: absolute;
    top: 400px;
    left: 33.3%;
    padding: 15px;
    border: 0px;
    font-weight: 600;  
    border-radius: 4px;
    background-color:#2c880d;
    color:white;
    font-size: 15px;
}
.st:hover{
    background-color: whitesmoke;
    color: black;
    transform: scale(1.2);

 

}.st2{position: absolute;
    top: 400px;
    left: 33.3%;
    padding: 15px;
    border: 0px;
    font-weight: 600;
    border-radius: 4px;
    background-color:#2c880d;
    color:white;
    font-size: 15px;
}
.st2:hover{
    background-color: whitesmoke;
    color: black;
    transform: scale(1.2);

  

}
.st3{position: absolute;
    top: 490px;
    left: 42.3%;
    font-weight: 600;
    padding: 15px;
    border: 0px;
    border-radius: 4px;
    background-color:#2c880d;
    color:white;
    font-size: 20px;
    cursor: pointer;
}
.st3:hover{
    background-color: whitesmoke;
    color: black;
    box-shadow: 0px 0px 50px black,0px 0px 50px black,0px 0px 50px black;

}

.go{
   
    height: 640px;
    width: 100%;
}
.x1{
    position: absolute;
    top: 60px;
    left: 80px;
    font-size: 130px;
    font-variant: small-caps;
    font-family: cursive;
}
.x2{
    position: absolute;
    top:450px ;
    left: 100px ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-variant: small-caps;
    font-size: 20px;
    color: white;
}
.btn8{
    position: absolute;
    top: 500px;
    left: 20.3%;
    padding: 15px;
    border: 0px;
    border-radius: 4px;
    background-color:#2c880d;
    color:white;
    font-size: 20px;
    text-decoration:none;
}
.btn8:hover{
    background-color: whitesmoke;
    color: black;
    box-shadow: 0px 0px 50px black,0px 0px 50px black,0px 0px 50px black;
}
.c1{
    position: absolute;
    font-size: 80px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    top: 90px;
    left: 10px;
    font-variant: small-caps;
    color: olive;
}
.v1{
    height: 100px;
     width: 60%;
     background-color: #d187d0;
}
.contacts{
    position: relative;
    display: flex;
    
}
.con1{
    margin-top: 200px;
    height: 400px;
    width:100%;
}
.con2{
    position: absolute;
    top: 200px;
    left: 40%;
    font-size: 110px;
    font-variant: small-caps;
    font-family: cursive;
    color: white;   
}
#insta{
    
    position: absolute;
    top:400px ;
    left: 50%;
    color:grey;
    cursor: pointer;
}
#insta:hover{
    color:white;
}
#link{
    
    position: absolute;
    top:400px ;
    left: 54%;
    color:grey;
    cursor: pointer;
}
#git:hover{
    color: white
}
#git{
    
    position: absolute;
    top:400px ;
    left:46%;
    color:grey;
    cursor: pointer;
    
}
#link:hover{
    color:white;
}
